

.splide-custom .splide__slide{
  transform: scale(0.9);
  transition: transform 0.1 ease;
}

.splide-custom .splide__slide.is-active{
  transform: scale(0.8);
}

.splide-custom .slide__pagination__page.is-active{
  background-color: #b88e2f;
}
.splide__slide{
  transform: scale(1);
}

