.checkout{
  margin: auto;
  gap: 144px;
}

.checkoutPage{
  display: flex;
  flex-direction: column;
}
.inputs{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.smallInputs{
display: flex;
gap: 30px;
}

.order ul{ list-style: none;}

.order{ display: flex;

        gap: 121px;
}

.inputWrapper{
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.checkout{
  display: flex;
}

.smallInputs .inputWrapper input{
  width: 211px;
  border-radius: 10px;
  border: 1px solid #9f9f9f;
  height: 75px;
  padding: 0 10px;
}

.inputWrapper input ,.adicionalInformation input{
  width: 453px;
  border-radius: 10px;
  border: 1px solid #9f9f9f;
  height: 75px;
  padding: 0 10px;
}

.adicionalInformation{
  margin-top: 66px;
}


.ColumTitle{
  font-size: 24px;
  font-weight: 600;
}

.product .item{
  font-size: 16px;
  display: flex;
  gap: 11px;
  align-items: center;

  
}

.product, .subTotal{
  display: flex;
  flex-direction: column;
  gap: 14px;
}


.product p{
  font-size: 16px;
  color: #9f9f9f;
}

.product .item span{
  font-size: 12px;
}


.subTotal{
  font-weight: 300;
  font-size: 16px;
  text-align: right;
}

.subTotal :nth-child(4){
  color: #B88E2F;
  font-size: 24px;
  font-weight: bold;
}

.order{

  padding-bottom:33px;
  border-bottom: 1px solid #9f9f9f;
  margin-bottom: 25px;
}

.ball{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: black;
  
}

.placeOrder{
  width: 528px;
  color: #9f9f99;
}

.placeOrder p:nth-child(1){
display: flex;
align-items: center;
  gap: 15px;
  margin-bottom: 11px;
  color: #000;
  font-size: 16px;

}

.placeOrder p:nth-child(2){
  margin-bottom:25px ;
}

.placeOrder p:nth-child(4){
  color: #000;
  margin-bottom:40px ;
}




.check{
  display: flex;
  gap: 15px;
  font-weight: 500;
  align-items: center;
}

.check input{
  border: 1px solid #9f9f9f;
  width: 14px;
  height: 14px;

  background-color: white;
  border-radius: 50%;

  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.check input:checked{
  background-color: #9f9f9f;
}



.checkWrapper{
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 22px;
}

.checkout button{
  border: 1px solid black !important;
  font-size: 20px;
  height: 59px;
  width: 222px;
  border-radius: 15px;
  background: none;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.placeOrder{
  display: flex;
  flex-direction: column!important;
}