header{
  height: 100px;
  width: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  padding-left:55px ;
}

.navbar{
  display: flex;
  font-weight: 500;
  gap: 75px;
  justify-content: space-between;
}

.navbar li{
  list-style: none;
  cursor: pointer;
  transition: 100ms;
}

.navbar li:hover{
  transform: scale(1.1);
}

.menu{
  display: flex;
  list-style: none;
  gap: 35px;
  align-items: center;
}

.menu li{
  list-style: none;
  cursor: pointer;
  transition: 100ms;
}

.menu li:hover{
  transform: scale(1.1);

}


