.path {
  background-color: #F9F1E7;
  display: flex;
  height: 100px;
  align-items: center;
  padding-left: 100px;
  color: #9F9F9F;
  margin-bottom: 35px;
}

.imageProductWrapper {
  display: flex;
  
  align-items: flex-start;
}

.sideImages {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  margin-right: 30px;
}

.product {
  margin-left: 100px;
}

.imageContainer img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}

.imageContainer {
  border: none !important;
  width: 76px;
  align-items: center;
  align-content: center;
  height: 80px;
  border-radius: 10px;
  background-color: #F9F1E7;
}

.actualImage {
  align-items: center;
  text-align: center;
  padding: 0;
  align-content: center;
}
.product{display: flex;}
.actualImage img {
  height: 500px !important;
  border-radius: 10px;
  width: 425px !important;
  height: auto;
}

.productInfo {
  margin-left: 105px;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 18px;
}

.star {
  gap: 7px;
}

.reviews p {
  font-size: 13px;
  color: #9F9F9F;
  padding-left: 22px;
  border-left: 1px solid #9F9F9F;
}

.productInfo p:nth-child(4) {
  max-width: 424px;
  font-size: 13px;
}

.path img {
  width: 82px;
  height: 24px;
}

.actualproduct {
  display: flex;
  align-items: center;
  height: 37px;
  padding-left: 24px;
}

.Product {
  display: flex;
  gap: 20px;
}

.descriptionSectionHeader{
  text-align: center;
  margin: 0 auto;
  display: flex;
}

.productInfo h3 {
  color: #9F9F9F;
  font-weight: 500;
  font-size: 24px;
}

.actualProduct .name {
  color: #000;
}

.productInfo h2 {
  font-size: 42px;
  font-weight: 400;
}

.SidePhotos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardsWrapper {
  gap: 32px;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.relatedProductCard {
  flex-basis: calc(25% - 16px);
  margin-bottom: 32px;
}

.sizeSection {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 18px;
}

.sizeWrapper {
  display: flex;
  gap: 16px;
}

.size {
  width: 30px;
  height: 30px;
  align-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #F9F1E7;
  transition: background-color 0.3s, color 0.3s;
}

.descriptionSectionHeader{
  margin-top:49px ;
  align-items: center; 
  margin-bottom: 36px;
  gap: 130px;
}

.size:hover {
  background-color: #f0f0f0;
}

.selectedSize {
  background-color: #b88e2f;
  color: white;
  border-color: #b88e2f;
}

.sizeSection p {
  color: #9f9f9f;
}

.des

.colorSection {
  gap: 14px;
  display: flex;
  color: #9f9f9f;
  flex-direction: column;
  font-size: 14px;
}

.colorWrapper {
  display: flex;
  gap: 16px;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 0.3s;
  border: transparent solid transparent;
}

.color:hover {
  opacity: 5%;
}

.selectedColor {
  transform: scale(1.3);
  opacity: 75%;
}

.quantitySection {
  margin-top: 32px;
  display: flex;
  gap: 18px;
}

.quantityWrapper {
  display: flex;
  gap: 35px;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 20px 12px;
  width: 123px;
  border: 1px solid #9F9F9F;
}

.quantityWrapper button {
  border: none;
  width: 11px;
  height: auto;
}

.quantityWrapper div {
  cursor: pointer;
}

.quantityWrapper p {
  font-weight: 500;
}

.quantitySection button {
  border: 1px solid black;
  background: none;
  width: 215px;
  border-radius: 15px;
  height: 64px;
  height: auto;
}

.infos ul {
  list-style: none;
  gap: 16px;
}

.infos {
  margin-bottom: 67px;
  padding-top: 40px;
  border-top: 1px solid #D9D9D9;
  color: #9F9F9F;
  margin-top: 40px;
  display: flex;
  gap: 16px;
}

ul li:hover {
  transform: scale(1);
}

.about{
margin-top: 13px;
}

.share {
  align-items: center;
  display: flex;
  gap: 12px;
}

.descriptionSection {
  display: flex;
  height: 744px;
  flex-direction: column;
  width: 100%;
  border: 1px solid #D9D9D9;
}

.descriptionSection .title {
  display: flex !important;
  margin: auto;
  gap: 30px;
}

.title :nth-child(1) {
  font-size: 24px;
  font-weight: 500;
  color: #000;
}

.title :nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  color: #9F9F9F;
}

.descriptionSection p {
  font-size: 14px;
  color: #9F9F9F;
}

.paragraph {
  text-align: left;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 1026px;

  justify-content: flex-start;
  gap: 30px;
}

.ImageWrapper {
  display: flex;
  gap: 29px;
  margin: auto;
}

.descriptionImage {
  width: 605px;
  height: 347px;
  background-color: #F9F1E7;
  border-radius: 10px;
  display: grid;
  grid-row: auto;
}
.relatedProducts {
  padding-bottom: 92px;
  margin-top: 55px;
  border-bottom: 1px solid #D9D9D9;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cardsWrapper {
  gap: 16px; 
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 44px;
  display: flex;
  max-width: 1236px;
  flex-wrap: wrap; 
  justify-content: space-between; 
}



.relatedProductCard:nth-child(4) {
  margin-right: 0;
}