.commitment {
  display: flex;
  gap: 55px;
  
  margin: 0 auto;
}

.commitmentSection{
 background-color: #F9F1E7;
  display: flex;
  height: 270px;
  margin-top: 85px;
}

.commitmentWrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.textWrapper {
  display: block;
}

.textWrapper h4 {
  font-size: 25px;
  color: black;
  font-weight: 600;
}

.textWrapper p {
  font-size: 20px;
  font-weight: 500px;
  color: #898989;
}
